html{
	background-color: rgb(80, 78, 78) ;
}
h1{
    text-align: center;
}
body{
    
    text-align: justify;
    color: white;
    border: 2px solid black;
    margin-right: 40px;
	margin-left: 40px;
	padding: 10px;
}
img{
    width: 500px;
}